* {
   font-family: "Verdana";
}

body {
   margin: 0 auto;
   display: block;
}

table.content {
   border-collapse: collapse;
   position: fixed;
   width: 100%;
   height: 100%;
}
table.content td {
   vertical-align: top;
}

#main_container {
   width: 80%;
}

#nav {
   width: 20%;
   min-width: 200px;
   max-width: 300px;
}

#nav p {
   text-align: center;
   font-size: 9pt;
}

.user_row {
   display: block;
   width: 100%;
   text-align: center;
   font-size: 18pt;
   font-weight: bolder;
   padding-top: 10px;
   padding-bottom: 10px;
}

.nav_header {
   display: block;
   width: 100%;
   text-align: center;
   font-size: 25pt;
}
.nav_header_link {
   text-decoration: none;
}
.nav_header_link:hover {
   text-decoration: underline;
}

.content_header {
   text-align: center;
}

#server_table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}
#server_table th,
#server_table td {
    text-align: center;
    height: 40px;
    vertical-align: middle;
}
