/***** BLUE Monochrome *****/
:root {
   --color-darkest   : #00578A;
   --color-dark      : #0099CC;
   --color-dark2     : #00a0d6;
   --color-light     : #0588BC;
   --color-lightest  : #CAE4F1;
   --color-darkgrey  : #33475b;
   --color-darkergrey  : #202123;
   --color-theme-off-white: #d9e0e2;
}


a {
   color: inherit;
}

#main_container {
   background-color: var(--color-theme-off-white);
   color: var(--color-darkergrey);
}

#nav {
   background-color: var(--color-darkest);
   color: var(--color-lightest);
}

#nav p.outside {
   color: white;
}

.user_row {
   background-color: var(--color-darkgrey);
}

.nav_header {
   background-color: var(--color-light);
}
.nav_header_link {
   color: inherit;
}

.nav_list p {
   background-color: var(--color-dark2);
   color: var(--color-darkgrey);
}

#server_table tr:not(.selected) {
   background-color: white;
}
#server_table tr.selected,
#server_table tr.selected_assoc {
   background-color: var(--color-lightest);
}

#server_table tr.blank {
   background-color: rgba(0,0,0,0);
}

#server_table tr.clicked {
   background-color: blue;
}
